nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(246, 237, 205);
    max-height: 10%;
    
}

nav div{
    display: flex;
    justify-content: end;
}

.miniButton{
    width:8em;
    height:5em;
    margin: 1em;
    background-color: rgb(231, 144, 38);
    border-radius: 50px;
    
}

#centralButton{
    display: flex;
    width:10em;
    margin: 2em auto;
    background-color: rgb(231, 144, 38);
    border-radius: 20em;
    padding: 1em;
}

button{
    background-color: rgb(231, 144, 38); 
    text-align: center;
    margin: 1em auto;
    border: none;  
}



img{
    width: 4em;
    height: 2em;
    margin:0 auto;
    background-color: rgb(231, 144, 38); 

}